
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Poppins:wght@200;400&display=swap');


*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
}
.logo-part{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    gap:10px;
}
.text-header .split-left{
color: var(--Blue, #4EA8DE);
font-size: 40px;
font-weight:900;

}
.text-header .split-right{
    color: var(--PurpleDark, #5E60CE);
    font-size: 40px;
    font-weight:900; 
}


.black-part{
    width: 100%;
    height:20vh;
    background-color: black;
}
.grey-part{
    width: 100%;
    height:80vh;
    background-color:#191919;
}
.overlap-container {
    display:flex;
    align-items: center;
    justify-content: center;
    width: auto;
    gap:5px;
    position: absolute;
    top: 18%;
    left: 25%;
    text-align: center;
}
.form input{
    width:50vw;
    height:6vh;
border: 1px solid var(--Gray-700, #0D0D0D);
background: var(--Gray-500, #262626);
border-radius: 5px;
}
.form-input {
    color: var(--Gray-300, #808080);
    font-size: 16px;
    padding-left: 10px;
}
.btn{
   display: flex;
   align-items: center;
   justify-content: center;
  background-color:#1e6f9f; 
  width:70px;
  height:45px;
  gap: 5px;
  color:aliceblue;
  border:none;
  border-radius: 10px;
}
.content{
    display: flex;
    align-items: center;
}
.left-status{
    display: flex;
    align-items: center;
    align-items: flex-end;
    padding-top: 15vh;
    padding-left:25vw;
    gap:10px;


}
.left-status p{
    color: var(--Blue, #4EA8DE);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 900;
padding-bottom: 5px;
}
.left-num{
    display: flex;
    align-items: center;
    justify-content: center;
    width:30px;
    height:25px;
    background-color:#333333;
    border-radius: 50%;
    color: white;
}
.right-status{
    display: flex;
    justify-content:flex-end;
    align-items:flex-end;
    margin: 15vh 50px 0px 38vw;
    gap:10px;



}
.right-status p{
    color: var(--Purple, #8284FA);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 900;
padding-bottom:5px;

}
.card-content{
    background-color: #191919;
    width: 50%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 0px 0px 26vw;
    border-radius: 10px;
    overflow: hidden; /* Hide overflowed content */
    box-shadow: 0 -2px 8px -8px rgba(216, 221, 221, 0.5);

}
.main-content{
    align-items: center;
    justify-content: center;
}
.logo1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.para{
   margin-top: 10px; 
   color: var(--Gray-300, #808080);
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
align-self: stretch;
}
.bottm-card-1{
    display: tabl;
align-items: flex-start;
justify-content: flex-start;


}
.foot{
    display: flex;
}
.bottom-card{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0.001px solid #333333 ;
    border-bottom: 0.001px solid #333;
    width: 50%;
    height:5vh;
    margin:auto;
    margin-top: 10px;
    box-shadow: 0px -4px 8px -9px rgba(216, 221, 221, 0.5);
    gap:35vw;
}
.bottom1{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    color:#4EA8DE;
    text-align:start;
    padding-right: 20px;
    gap:5px;

}
bottom1 {
    color: var(--Purple, #8284FA);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    padding-bottom:5px;
}
.bottom2{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap:8px;
    color:#8284FA;
    padding-right: 30px;
}
.bottom2 p{
    color: var(--Purple, #8284FA);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    padding-bottom:5px;
}